:root{
	--color-yellow: #e6ccb2;
	--color-green: #2d6a4f;
	--color-blue: #455e89;
	--color-purple: #861657;
	--color-pink: #ff477e;
	--color-darkblue: #04395e;
	--color-whitepink: #ffc8dd;
	--color-whitegreen: #b0f2b4;
}
body{
	margin: 0;
}
.dflex{
	display: flex;
}
.bigimg{
	width: 60%;
	border-radius: 7px;
}
.imgbox{
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
.half{
	width: 50%;
}
.full{
	width: 50%;
}
.first_impression{
	background-color: var(--color-yellow);
	color: var(--color-purple);
	padding: 50px;
}	
.feedback{
	background-color: var(--color-yellow);
	color: var(--color-purple);
	padding: 50px;
}
a{
	text-decoration: none;
	font-weight: 500;
	margin: 0 15px 0 15px;
	padding: 5px;
}
a:hover{
	color: var(--color-blue);
	background-color: var(--color-pink);
	border-radius: 7px;
}
.menu{
	padding: 10px;
	background-color: #edc4b3;
	font-size: 20px;
}
h1{
	font-size: 	30px;
}
h2{
	font-size: 	22px;
}
.dgrid{
	display: grid;
	gap: 10px;
	background-color: var(--color-yellow);
	padding: 50px 0;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card{
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../3.png);
	padding: 85px;
	background-size: 100%;
    animation: 
      bounce var(--animation-duration)
      infinite alternate
      cubic-bezier(0.2, 0.65, 0.6, 1);
}	
.boxone {
  --bounce-height: -50px;
  --animation-duration: 2000ms;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(var(--bounce-height));
  }
}
.boxtwo{
		--bounce-height: -50px;
  --animation-duration: 1500ms;
}
.boxthree{
	--bounce-height: -50px;
	--animation-duration: 1000ms;
}


input{
	font-size: 17px;
	border-radius: 5px;
	border: 0;
	outline: none;
	padding: 5px, 10px;
	background-color: var(--color-pink);
}
::placeholder{
	color: var(--color-purple);
	opacity: 1;
}
#circle{
	background-image: url(https://i.gifer.com/origin/64/649852e53b7e4edf15ea1c2f23a61f29_w200.gif);
	background-size: 100%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
}
button{
	font-size: 17px;
	border-radius: 5px;
	border: 0;
	outline: none;
	padding: 5px, 10px;
	background-color: var(--color-pink);
}
.board{
	border: 2px solid black;
	width: 500px;
	height: 500px;
}
.food{
	background-color: white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
}