html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80.5%;
    position: relative;
}
body {
    margin: 0;
    font-size: 1.2em;
}
a {
    text-decoration: none;
}

.header {
    padding: 70px;
    text-align: center;
    /*background: #001333;*/
    background-image: url('../res/png/fizmat-background.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    color: white;
}

.header h1 {
    font-size: 70px;
}

@media (max-width: 450px) {
    .header h1 {
        font-size: 50px;
    }
}


.navbar {
    overflow: hidden;
    background-color: #002c55;
}

.navbar a {
    float: left;
    display: block;
    color: #3090e9;;
    text-align: center;
    padding: 14px 20px;
    font-size: 1.2em;
}

@media (max-width: 530px) {
    .navbar #home-link {
        display: none;
    }
}

@media (max-width: 450px) {
    .navbar a {
        padding: 14px 12px;
        font-size: 1.15em;

    }
}


.navbar a:hover {
    color: red;
}

.centered {
    margin-top: 37px;
    color: #000; 
    padding-left: 80px; 
    padding-right: 80px; 
    line-height: 1.5;
    font-family: Arial, sans-serif; 
    font-size: 18px; 
}

.centered strong {
    font-weight: bold; 
    color: #333; 
}

@media (max-width: 750px) {
    .centered {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 450px) {
    .centered { 
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.copy {
    color: #999999;
    text-align: center;
    padding: 20px 0;
    background: #002c55;
    font-size: 12px;
    width: 100%;
    bottom: 0;
    line-height: 1.2;
    bottom: 0;
}

@media (min-width: 800px) {
    .copy {
        position: absolute;
    }
}


.copy a {
    color: rgb(255, 12, 12);
    font-size: 13px;
    font-weight:bold;
}

@media (min-width: 1100px) {
    .copy {
        position: fixed;
    }
}


